.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  margin-left: 10%;
  float: left;
  text-align: center;
}
.color{
  background-color: rgb(185, 228, 233);
  // background-color: #F0FBEB;
}
.header{
  background-color: rgb(99, 179, 178);
  // background-color: #F0FBEB;
}
.title{
  font-size: 28px;
  font-weight:900;
  margin-left: 10%;
  margin-top: 5px;
  color: rgb(15, 102, 117);
  display: inline-block;
}
.headera{
  display: inline-block;
  width: 20%;
}
.button{
  color: rgb(99, 179, 178);
  background-color: rgb(15, 102, 117);
  margin-top: 10px;
}
.icon{
  display: inline-block;
}