.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  margin-left: 10%;
  float: left;
  text-align: center;
}

.footer {
  background: #0B1013;
  color: #fff
}
.color{
  background: linear-gradient(to bottom, #e0eafc, #cfdef3);
}
.header{
  background-color: #0B1013;
}
.title{
  font-size: 28px;
  font-weight:900;
  margin-left: 10%;
  margin-top: 5px;
  color: #fff;
  display: inline-block;
}
.headera{
  display: inline-block;
  width: 20%;
}
.button{
  color: #fff;
  background: #0B1013;
  margin-top: 10px;
}
.icon{
  display: inline-block;
}